.navbar{
  text-align: left;
  top: 0;
  background-color: #000020;
  width: 100vw;
  height: 80px;
  font-size: 20px;
  z-index: 1;
}



.navbar-logo{
  height: 80px;
  line-height: 80px;
  color: #EEEEEE;
  cursor: pointer;
  padding-left: 50px;
}