.title-card-container{
  width: 85vw;
  max-width: 800px;
  height: 100px;
  display: flex;
  background-color: white;
  margin: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.title-container p{
  font-family: 'roboto';
}

.buttons-container{
  display: flex;
  flex-direction: row;
}

.buttons-container a{
  outline: none;
  text-decoration: none;
  padding: 10px;
  /* color: #008000; */
}

.delete-button{
  color: #d34240;
}

.edit-button{
  color: #5379a4;
}

.arrow-button{
  color: #4eb653;
}
