.title-card-container{
  width: 600px;
  height: 100px;
  display: flex;
  background-color: white;
  margin: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}


.title-container p{
  font-size: small;
}

.buttons-container{
  display: flex;
  flex-direction: row;
}

.buttons-container a{
  outline: none;
  text-decoration: none;
  color: #008000;
}

